@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-color: transparent;
  font-family: 'Gill Sans';
}

.bg_image {
  background: linear-gradient(rgba(165, 42, 42, 0.377), rgba(165, 42, 42, 0.377)), url('../assets/wallpaper.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
